mixin campaign(campaign)
    article.site--project(class=campaign.category, data-item="campaign")
        header
            img(src="/static/images/stock2.jpg")
            .badge
                .mdi.mdi-heart
                span.likeCount #{campaign.likeCount}

        footer
            h1 #{campaign.name}
            h4(data-item="campaign-category") #{campaign.category}
            h4
                span.mdi.mdi-map-marker
                | Cardiff
            h4
                span.mdi.mdi-clock-in
                span(data-type="iso-date", data-item="campaign-date", data-datetype="start", data-original-date=campaign.startedOn)
                | #{space} #{space}
                span.mdi.mdi-clock-out
                span(data-type="iso-date", data-item="campaign-date", data-datetype="finish", data-original-date=campaign.expiresOn)
            p #{campaign.description}
            .site--progressbar
                .site--progressbar-percent #{campaign.percentage}%
                .site--progressbar-container
                    .site--progressbar-progress(style="width: #{campaign.percentage}%")
            p &pound;#{campaign.current} / &pound;#{campaign.target} - #{space}
                span(data-item="time-left")