block variables
    - title = pageTitle
    - currentPage = currentPage || 0
    - categoryIcons = {}
    - categoryIcons['SPORTS'] = 'mdi-bike'
    - categoryIcons['PARKS'] = 'mdi-leaf'
    - categoryIcons['ARTS'] = 'mdi-brush'
    - categoryIcons['BUILDINGS'] = 'mdi-home'
    - categoryIcons['FOOD'] = 'mdi-food-apple'
    - categoryIcons['INFRASTRUCTURE'] = 'mdi-car'
extends layout
include mixins/sitenav.jade
include mixins/campaign.jade
include mixins/categories-list.jade

block content
    +upperNav(path)

    if campaign
        header.site--header.campaign(style="background-image: url('/static/images/campaignPics/stock2.png')")
            article.site--header-content
                .site--header-content--background.campaign
                h1= campaign.name
                .text-xxl.category-name.bold(class=campaign.category)
                    span.mdi(class=categoryIcons[campaign.category])
                       | #{campaign.category}
                .text-xxl.green
                    span.mdi.mdi-map-marker
                    | Cardiff, United Kingdom
        .container
            section.site-section
                .row
                    .col-md-8.col-xs-12.br
                            h2.site-section--subtitle About this project
                            p.bold= campaign.description
                            p= campaign.description
                            p= campaign.description
                            p= campaign.description
                            br
                            br
                            h2.site-section--subtitle Impact
                            p.bold= campaign.description
                            p= campaign.description
                            p= campaign.description
                            p= campaign.description
                            br
                            br
                            br
                            br
                            img(src='/static/images/signature.png')
        section.site-section-similar
            .container
                h3.site-section--subtitle.bold Similar projects
                .text-center
                    if similarCampaigns
                        each campaign in similarCampaigns
                            +campaign(campaign)
                h4.site-section--subtitle.text-center.bold Discover other categories
                div
                    +categoriesList()